h1 {
font-family: Helvetica, Monospace;
color: Red;
}

h2 {
font-famile: Georgia, bold;
color: Blue;

}


.grid {
  border: 5px Blue solid;
  height: 1000px;
  width: 960px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 50px;
}

.box {
  background-color: Teal;
  color: Orange;
  border-radius: 5px;
  border: 2px Dodgerblue solid;
}

.a {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
